{% extends "aggry_app/base.html" %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<h2 class="title">求人検索ホーム</h2>
<hr>

<p class="subtitle">求人数：{{ jobs|length }}件</p>

<div class="has-text-centered">
    <form action="." method="post">
        {% csrf_token %}
        <div class="columns is-multiline">
            <div class="column is-centered is-half">
                <div class="title">
                    <p class="is-size-4" style="margin-bottom: 20px;">業務内容</p>
                    {{ form.job | add_class:"input is-primary"}}
                </div>
            </div>
            <div class="column is-centered is-half">
                <div class="title">
                    <p class="is-size-4" style="margin-bottom: 20px;">勤務地</p>
                    {{ form.location | add_class:"input is-primary"}}
                </div>
            </div>
        </div>
        <button class="button is-danger is-rounded is-large is-hovered" style="margin: 50px;">検索</button>
    </form>
</div>

{% endblock %}


